<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('partials/head', {pageTitle: pageTitle}) %>
	</head>
	<body<% if (typeof bodyClass !== 'undefined' && bodyClass) { %> class="<%= bodyClass %>"<% } %>>
		<%- include('partials/header', {pageTitle: pageTitle}) %>
		<main>
			<%- body %>
		</main>
		<%- include('partials/footer') %>
	</body>
</html>
