<% layout('layout') %>

<img class="mainImage" src="<%= project.image %>" alt="<%= project.title %>" />
<p><strong>Description :</strong> <%= project.description %></p>
<p><strong>Date :</strong> <%= project.date %></p>
<p><strong>URL :</strong> <a href="<%= project.url %>"><%= project.url %></a></p>
